div(ng-controller='AddLocationCtrl')
	h3 Add a new location
	label(for='name') Location Name:
	input(ng-model='form.name', name='name')

	label(for='latitude') Latitude:
	input(ng-model='form.latitude', name='latitude')

	label(for='longitude') Longitude:
	input(ng-model='form.longitude', name='longitude')

	p
		button(ng-click='submitLocation()') Add Location
