div.row-fluid.center.clear-both
	div.span4
		div.link-wrap
			img(src = '/images/image1.png')
			h3.center Product 1
		div.text-wrap.left
			h6 Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.

	div.span4
		div.link-wrap
			img(src = '/images/image2.png')
			h3.center Product 2
		div.text-wrap.left
			h6 Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.

	div.span4
		div.link-wrap
			img(src = '/images/image3.png')
			h3.center Product 3
		div.text-wrap.left
			h6 Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.









